.about-in1{
    width: 100%;
    height: fit-content;
    padding-top: 4rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-in-part-1-img{
    width: 100%;
    box-shadow: 0px 0px 1em #2222223c;
}
.about-in-part-1-img img{
    width: 100%;
}
.about-in-part-1{
    width: 100%;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    background-color: #f6f8fc;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 6rem;
}
.about-in-part-1-lable{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.about-in-part-1-lable-blog-1{
    width: 35%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #fff;
    box-shadow: 0px 0px 1em #2222223c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.about-in-part-1-lable-blog-2{
    width: 60%;
}
.about-in-part-1-lable-blog-1-lable-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.about-in-part-1-lable-blog-1-lable-1 h2{
    font-size: 20px;
    font-family: Cardo,sans-serif;
    color: #222;
}
.about-in-part-1-lable-blog-1-lable-1 h2:last-child{
    color: #969aa0;
    font-family: "Poppins";
    font-weight: 400;
}
.about-in-part-1-lable-blog-2-lable-1{
    font-size: 2.5rem;
    font-family: Cardo,sans-serif;
    position: relative;
    margin-bottom: 2rem;
    font-weight: 600;
}
.about-in-part-1-lable-blog-2-lable-2{
    font-size: 1.2rem;
    color: #969aa0;
    margin-bottom: 4rem;
}
.about-in-part-1-lable-blog-2-lable-1::before{
    content: "";
    position: absolute;
    width:5%;
    height: 3px;
    bottom: -1rem;
    background-color: #ffca42;
}
.about-in-part-1-lable-blog-2-button a:hover{
    color: #ffca42;
}
.about-in-part-1-lable-blog-2-button a{
    padding: 20px 35px;
    background-color: #ffca42;
    border: 1px solid #ffca42;
    color: #1b3764;
    font-weight: 600;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}
.about-in-part-1-lable-blog-2-button a:hover{
    background-color: #1B3764;
    color: #ffca42;
    border-color: #1B3764;
}
.about-in-part-2-blog-1-lable-1{
    font-size: 2rem;
    margin-bottom: 2rem;
}
@media only screen and (max-width:1314px) {
    .about-in-part-1-lable{
        flex-direction: column;
        gap: 4rem;
    }
    .about-in-part-1-lable-blog-1{
        width: 100%;
    }
    .about-in-part-1-lable-blog-2{
        width: 100%;
    }
}
@media only screen and (max-width:933px) {
    .about-in-part-1-lable-blog-2-lable-2 br{
        display: none;
    }
}
@media only screen and (max-width:744px) {
    .about-in-part-1{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:539px) {
    .about-in-part-1-lable-blog-2-lable-1{
        font-size: 2rem;
    }
    .about-in-part-1-lable-blog-2-lable-2{
        font-size: 0.9rem;
    }
    .about-in-part-1-lable-blog-1-lable-1 h2{
        font-size: 1rem;
    }
}
@media only screen and (max-width:427px) {
    .about-in-part-1-lable-blog-1{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .about-in-part-1-lable-blog-1-lable-1 h2{
        font-size: 0.9rem;
    }
    .about-in-part-1-lable-blog-2-lable-1{
        font-size: 1.7rem;
    }
}
.about-in-part-2{
    width: 100%;
    height: fit-content;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #fff;
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
}
.about-in-part-2-lable{
    width: 50%;
    padding-top: 2rem;
}
.about-in-part-2-lable-1{
    width: fit-content;
    font-size: 2.5rem;
    font-family: Cardo,sans-serif;
    font-weight: 600;
    color: #1B3764;
    margin-bottom: 2rem;
    position: relative;
}
.about-in-part-2-lable-1::before{
    content: "";
    width: 25%;
    height: 3px;
    background-color: #ffca42;
    position: absolute;
    bottom: -1rem;
}
.about-in-part-2-lable-2{
    width: 650px;
    font-size: 1.2rem;
    color: #969aa0;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.about-in-part-2-img{
    width: 50%;
}
.about-in-part-2-img img{
    width: 100%;
}
.about-in-part-2-blog-s{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 3rem;
    gap: 2rem;
}
.about-in-part-2-blog-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.about-in-part-2-blog-1-num{
    padding: 18px  20px;
    background-color: #ffca42;
    font-size: 30px;
    color: #1B3764;
    font-family: Cardo,sans-serif;
    font-weight: 700;
}
.about-in-part-2-blog-1-lable-1{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: Cardo,sans-serif;
    margin-bottom: 0.5rem;
    color: #1B3764;
}
.about-in-part-2-blog-1-lable-1:last-child{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins";
    color: #969aa0;
}
.lable-in{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 1rem;
}
@media only screen and (max-width:1294px) {
    .about-in-part-2{
        flex-direction: column;
        gap: 3rem;
    }
    .about-in-part-2-blog-s{
        width: 70%;
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .about-in-part-2-blog-1{
        width: 100%;
    }
    .about-in-part-2-img{
        width: 100%;
    }
    .about-in-part-2-img img{
        width: 100%;
    }
    .about-in-part-2-lable{
        width: 100%;
    }
    .about-in-part-2-lable-2{
        width: 100%;
    }
}
@media only screen and (max-width:917px) {
    .about-in-part-2-blog-s{
        width: 100%;
    }
}
@media only screen and (max-width:680px) {
    .about-in-part-2{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media only screen and (max-width:546px) {
 .about-in-part-2-blog-s{
    padding-left: 0;
    padding-right: 0;
 }
}
@media only screen and (max-width:507px) {
    .about-in-part-2{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .about-in-part-2-lable-2{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .about-in-part-2-blog-1-lable-1{
        font-size: 1.2rem;
    }  
    .about-in-part-2-blog-1-lable-1:last-child{
        font-size:0.7rem;
    }  
}
.trust-part-3{
    display: none;
}
.trust-part-4{
    display: none;
}
.active{
    color: #fff;
}
.items:nth-child(2){
    color: #ffca42;
}